*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* COLORS */
.blu-navy{
    background-color: rgb(9, 9, 39);
    
}
.blue{
    background-color: rgb(14, 14, 58);
}
.verde-acqua{
    background-color: rgb(33, 151, 122);
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.violet{
    background-color: #ba4b63;
}
.light-blue{
    background-color: #1ea4b6;
}
.black{
   background-color:  #140f0f;
}
.blue-2{
    background-color: #1c83c1;
}
.blue-3{
    background-color: #0e38b5;
}
.pink{
    background-color: #ccb2a3;
}
.white{
    background-color: white;
}
.text-white{
    color: white;

}

.hamburger{
    filter: invert(100%);
    border: none;

}



/* STYLE UTILITIES*/

.border-radius{
    border-radius: 15px;
}
header{
    background-color: rgb(20, 20, 73);
}
.content-porfolio{
    border-radius: 20px;
}
.content-header{
    color: white;


}
.content-menu{
    display: flex;
    justify-content: flex-end;
}

.jumbotron-img{
    width: 200px;

}
.content-jumbotron{
    color: white;
}
.content-portfolio{
    color: rgb(12, 12, 51);
}
.portfolio-img{
    width: 100%;
    padding: 20px;
}

.content-about{
    color: white;
}
.border-form{
    border-top: none;
    border-left: none;
    border-right: none;
}

.style-icons{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;

}
.content-decoration{
    display: inline-flex;
    
}
.line{
    width: 120px;
    height: 3px;
    margin: 0 10px;

    
}
#style-icon{
    border: 1px solid #fff;
    padding: 10px 13px;
    border-radius: 50%;

}

